button{
  background: #242726;
  color: #ccc;
  border: none;
  font-size: 30px;
  cursor: pointer;

}

.Nav-BTN{
    margin:10px;
    border-bottom: 2px solid #36498f;
}

.Nav-BTN:active, .Nav-BTN:focus{
  outline: none;
}